html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background: #171717;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12pt;
	font-weight: 300;
	color: #363636;
}


h1, h2, h3 {
	margin: 0;
	padding: 0;
}

p, ol, ul {
	margin-top: 0px;
}

p {
	line-height: 190%;
}


a {
	color: #171717;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

	.image
	{
		display: inline-block;
	}
	
		.image img
		{
			display: block;
			width: 100%;
		}

	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}

		.image-centered img
		{
			margin: 0 auto;
			width: auto;
		}

hr {
	display: none;
}

	ul.style2
	{
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
	ul.style2 li
	{
		border-top: solid 1px #E5E5E5;
		padding: 0.80em 0;
	}
	
	ul.style3 li
	{
		border-top: 0;
		padding: 0.20em 0;
	}
	
		
	ul.style2 li:first-child
	{
		border-top: 0;
		padding-top: 0;
	}

/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

	ul.contact
	{
		margin: 0;
		padding: 1em 0em 0em 0em;
		list-style: none;
	}
	
	ul.contact li
	{
		display: inline-block;
		padding: 0em 0.30em;
		font-size: 1.2em;
	}
	
	ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}
	
	ul.contact li a
	{
		color: #FFF;
	}
	
	ul.contact li a:before
	{
		display: inline-block;
		background: #3f3f3f;
		width: 36px;
		height: 36px;
		line-height: 36px;
		text-align: center;
		color: #FFFFFF;
	}
	
	ul.contact li a.icon-twitter:before { background: #2DAAE4; }
	ul.contact li a.icon-facebook:before { background: #39599F; }
	

/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
	{
	margin-bottom: 2em;
	text-transform: uppercase;
	}

	.title h2
	{
		letter-spacing: 0.20em;
		font-weight: 700;
		font-size: 2em;
		color: #171717;
	}
	
	.title .byline
	{
		letter-spacing: 0.15em;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 0.90em;
		color: #6F6F6F;
	}

/** WRAPPER */

#wrapper {
	background: #FFFFFF url(images/bg01.png) repeat;
}

#footer-wrapper
{
	background: #0F0F0F;
}

.container {
	width: 1200px;
	margin: 0px auto;
}

.clearfix {
	clear: both;
}


/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header 
	{
	position: relative;
	overflow: hidden;
	height: 300px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo 
	{
	position: absolute;
	top: 146px;
	right: 22px;
	padding: 1em 3em;
	background: rgba(0,0,0,0.2);
	text-transform: uppercase;
	text-shadow: -1px -1px 0 rgba(0,0,0,1);
	z-index: 10;
	}
	
	#logo h1
	{
		letter-spacing: 0.10em;
		text-align: right;
		font-size: 3em;
		color: #FFF;
	}
	
	#logo p 
	{
		letter-spacing: 0.10em;
		color: #FFFFFF;
	}
	
	
/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner 
	{
	position: absolute;
	left: 0;
	overflow: hidden;
	z-index: 1;
	top: -36px;
	}
	
	#banner .image
	{
		border: 5px solid #FFFFFF;
	}
	

/** MENU */

#menu {
	overflow: hidden;
	margin-bottom: 2em;
	background: #FFF;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	height: 50px;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline-block;
}

#menu a {
	display: block;
	letter-spacing: 1px;
	line-height: 50px;
	padding: 0 40px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: 600;
	border: none;
	color: #3D3D3D;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
	background: #F5F5F5;
}

#menu .current_page_item a {
	background: #F5F5F5;
}

/** PAGE */

#page
{
	position: relative;
	overflow: hidden;
	padding: 1em 0em 1em 0em;
}

/** CONTENT */

#content
{
	float: left;
	width: 790px;
}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
		float: right;
		width: 345px;
	}
	
	#sidebar .title h2
	{
	font-size: 2em;
	}
	
	#sidebar .box1
	{

	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
	overflow: hidden;
	padding: 1em 0em;
	text-align: center;
	text-transform: uppercase;
	color: #6F6F6F;
	}
	
	#footer h2
	{
		letter-spacing: 0.20em;
		font-weight: 700;
		font-size: 2.4em;
		color: #FFF;
	}
	
	#footer .byline
	{
		letter-spacing: 0.15em;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 0.90em;
		color: #6F6F6F;
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
	overflow: hidden;
	padding: 1em 0em;
	}
	
	#copyright p
	{
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		font-size: 0.80em;
		color: #6F6F6F;
	}
	
	#copyright a
	{
		text-decoration: none;
		color: #8C8C8C;
	}

/*********************************************************************************/
/* Welcome                                                                       */
/*********************************************************************************/

	#welcome
	{
	overflow: hidden;
	padding: 3em 0em 1em 0em;
	border-bottom: 1px solid #E5E5E5;
	text-align: center;
	}
	
	#welcome h2
	{
		letter-spacing: 0.20em;
		text-transform: uppercase;
		font-size: 2.6em;
	}
	
	
	#welcome .byline
	{
		display: block;
		padding: 1.5em 0em 0em 0em;
		letter-spacing: 0.15em;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1.2em;
		color: #6F6F6F;
	}


/*********************************************************************************/
/* Contacto                                                                      */
/*********************************************************************************/	

#sidebar1
	{
		float: left;
		width: 30%;
		padding: 30px;
	}
	
	#sidebar1 .title h2
	{
	font-size: 2em;
	}
	
	#sidebar1 .title p
	{
	padding: 1em 0em;
	font-size: 1em;
	text-align: left;
	color: #6F6F6F;
	letter-spacing: 0.15em;
	font-weight: 400;
	}

#sidebar2
	{
		float: right;
		width: 60%;
		height: 800px;
		padding: 30px;
	}
	
	#sidebar2 .caja1
		{
		height: 800px;
		padding: 10px 10px;
		text-align:left;
		background-color: #FF9;
		}

	#sidebar2 .caja1.etiqueta
		{
		float:left;
		width: 120px;
		height: 20px;
		padding: 10px 10px;
		
		}
		
	#sidebar2.caja1.dato
		{
		float:left;
		width: 250px;
		height: 20px;
		padding: 10px 10px;
		}
		
	#sidebar2 .caja1:hover
		{
		background-color: #F96;
		color: #F00;
		}
		
	